{% load static %}

<!doctype html>
<html>
	<head>
		<center>
			<title> Online Calculator </title>
			<h1> Online Calculator </h1>	
		</center>


		<style>	
		 * {
		      font-family: "Courier New", Courier, monospace;
		      font-size: 9;
		      center: True;
		    }		
		</style>
		

	</head>


	<body>

		<center>

		<div id = 'explanation'>
			<h5> Supported operations: + , - , / , (* or x)   </h5>
		</div>

		<div id = 'calculator_form'>
			<form action='.' method='POST'> 
				{% csrf_token %}
				{{ form.as_p }} <!-- id = id_calculation -->
				<input type = 'submit' value = 'Calculate' /> 
			</form>
		<div>

		<div id= 'result_display'>
			<p> 
				{% if output != ' = ' %}
					{{ output }} 
				{% endif %}
			</p>
			
		</div>

		<h4> The last 10 calculations done on the website:</h2>

		<div id = 'table'>

		</div>

		<div id = links>

		</div>


		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<scirpt src = "{% static 'js/ajax/main.js' %}" ></script>

		{% block javascript %}
		<script>
			$(function(){
				setInterval(timedUpdateFunction, 100);
			});

			function timedUpdateFunction() {
				// update table every second
				$.ajax({
				        url: '/list_calculations',
				        data: {},
				        dataType: 'json',
				        success: function (data) {
				          document.getElementById('table').innerHTML = data["html"];
				        }
				      });
			}
    		
 		</script>
 		{% endblock %}










 	</center>
	</body>
</html>