
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#other 

*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
media/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py
